.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.marker--position {
    position: absolute;
    top: 130px;
    left: 130px;
}

.marker_drag--disabled {
    display: none;
}

.marker_drag--active {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.marker--active {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: background-color 1s ease;
}

.marker--drag {
    animation: canDragMarker 2s ease-in-out infinite;
}

@keyframes canDragMarker {
    0% {
        -webkit-box-shadow: 0 0 0 0 #223d31;
        -moz-box-shadow: 0 0 0 0 #223d31;
        box-shadow: 0 0 0 0 #223d31;
    }
    50% {
        -webkit-box-shadow: 0 0 10px 5px #223d31;
        -moz-box-shadow: 0 0 10px 5px #223d31;
        box-shadow: 0 0 10px 5px #223d31;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #223d31;
        -moz-box-shadow: 0 0 0 0 #223d31;
        box-shadow: 0 0 0 0 #223d31;
    }
}


.marker:hover .marker--active {
    background-color: #223d31;
}

.marker__title {
    font-size: 11px;
    padding: 0 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 4px;
    text-align: center;
}

