.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.marker--position {
    position: absolute;
    top: 130px;
    left: 130px;
}

.marker--active {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: background-color 1s ease;
}

.marker:hover .marker--active {
    background-color: #223d31;
}

.marker__title {
    font-size: 11px;
    padding: 0 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 4px;
}

